@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap);

:root{
    --white-light:rgba(255,255,255,.5);
    --alice-blue: #f8f9fa;
    --carribean-gray:#40c9a2;
    --gray:#ededed;
}
body{
    font-family: 'Quicksand', sans-serif;
}

.nav-rob-color{
    background: var(--carribean-gray);
}

.loginbtn{
    background: var(--carribean-gray);
}

.loginbtn:hover {
    background: blue;
    opacity: 1;
  }


.margin-container{
    padding-top: 50px;
    padding-bottom: 200px;
}

.p{
    color: #fff;
    line-height: 25px;

}

h2,h3{
    color: #fff;
}

.footer-top{
    background: var(--carribean-gray);
    padding: 0;
}

.segment-two h2{
    color: #fff;
    text-transform: uppercase;
}

.segment-two h2::before{
    content: '|';
    color: var(--white-light);
    padding-right: 10px;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,.3);
    line-height: 40px;
}

.segment-two ul li a{
    color: #fff;
    text-decoration: underline;
}

.segment-three h2{
    color:#fff;
    text-transform: uppercase;
}

.segment-three h2::before{
    content:"|";
    color: var(--white-light);
    padding-right: 10px;
}

.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i {
   font-size: 20px;
   color: #fff;
   padding: 10px 12px;

}

.segment-four h2{
    color: #fff;
    text-transform: uppercase;

}

.segment-four h2::before{
    content: "|";
    color: var(--white-light);
    padding: 10px;
}

.segment-four form input[type=submit]{
    background: var(--white-light);
    border:none;
    padding: 3px 15px;
    margin-left: 0;
    color: #fff;
    text-transform: uppercase;

}

.footer-bottom-text{
    text-align: center;
    line-height: 75px;
}

/* responsive css */
@media only screen and (min-width:768px) and (max-width:991 px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max:width 767px) {
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
} 
