
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap);


  :root{
      --white-light:rgba(255,255,255,.5);
      --alice-blue: #f8f9fa;
      --carribean-gray:#40c9a2;
      --gray:#ededed;
  }
  
  
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
.navbar{
    position: fixed;
    top:0;
    z-index: 9999;
    padding: 25px 0;
}

.navbar .logo{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar ul.nav{
    margin-right: 15%;
}

.navbar ul.nav li.active, .navbar ul.nav li:hover{
    background: rgba(255,255,255,0.5);
    color: #000;
}
.navbar ul.nav li a{
    color: var(--carribean-gray);
    font-size: 1em;
    font-weight: 500;
}
.navbar ul.nav li.active a, .navbar ul.nav li:hover a{
    color: #000;
}

.btn-rob{
    color: #fff;
    background: var(--carribean-gray);
    border: none;
}
.homebutton{
    color: #fff;
}
/*carousel */

#carouselExampleIndicators{
    position: relative;
    height: 100vh;
    width: 100%;
}

#carouselExampleIndicators .carousel-inner{
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

#carouselExampleIndicators .carousel-inner::before{
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.45);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#carouselExampleIndicators .carousel-inner .carousel-item{
    position: relative;
    height: 100%;
    width: 100%;
    background: url(../images/Ngoro.JPG);
    background-size: 100% 100%;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
    background: url(../images/Soapstone.jpg);
    background-size: 100% 100%;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
    background: url(../images/london_2.jpg);
    background-size: 100% 100%;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(4){
    background: url(../images/Andes_Mountains.jpg);
    background-size: 100% 100%;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(5){
    background: url(../images/Zanzibar.JPG);
    background-size: 100% 100%;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(6){
    background: url(../images/dubai_2.jpg);
    background-size: 100% 100%;
    background-position: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item .info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: center;

}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
    color: var(--carribean-gray);
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 5.5em;
    font-weight: 750;
}

#carouselExampleIndicators .carousel-inner .carousel-item p{
    color: #fff;
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}