
  @import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap);

  :root{
      --white-light:rgba(255,255,255,.5);
      --alice-blue: #f8f9fa;
      --carribean-gray:#40c9a2;
      --gray:#ededed;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Quicksand', sans-serif;
    background: white;
}

.nav-rob-color{
    background: var(--carribean-gray);
}

  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }

  .nav-header{
    background-color: #04AA6D;
  }
  .nav-header:hover {
    opacity: 1;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: var(--carribean-gray);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    background: blue;
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }